<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.20">
      <gitLabConnection></gitLabConnection>
      <jobCredentialId></jobCredentialId>
      <useAlternativeCredential>false</useAlternativeCredential>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.gitee.jenkins.connection.GiteeConnectionProperty plugin="gitee@1.2.7">
      <giteeConnection>Gitee</giteeConnection>
    </com.gitee.jenkins.connection.GiteeConnectionProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>server_ip_address</name>
          <description>终端主机IP</description>
          <defaultValue>192.168.151.217</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>server_hostname</name>
          <description>终端主机用户名</description>
          <defaultValue>server</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>server_passwd</name>
          <description>终端主机用户密码</description>
          <defaultValue>{AQAAABAAAAAQANipdzfJWeenYz3FB5BQHCfxVTYF7iRbMbANTlGIW8g=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>code_dir</name>
          <description>终端工作路径</description>
          <defaultValue>~</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>stop_terminal</name>
          <description>停止web终端</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>id</name>
          <description>need by http request</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>jenkins_user_name</name>
          <description>do not edit</description>
          <defaultValue>admin</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>jenkins_user_token</name>
          <description>do not edit</description>
          <defaultValue>{AQAAABAAAAAwKvIYX6v50r7Z8clmsWLFa+StS/YW976cM4DyU5b/U+rd72o4AFI2Xlah1OeeXHyFKnK8wIFTNZ6AXmGbpbWPSA==}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/env bash

devops_token=`cat $DEVOPS_TOKEN_FILE || echo &quot;&quot;`

# mkdir first
sshpass -p &quot;$server_passwd&quot; ssh -o StrictHostKeyChecking=no &quot;$server_hostname@$server_ip_address&quot; &lt;&lt; EOF
if [ ! -d $REMOTE_SCRIPT_PATH ]; then
	echo -e &quot;\ncreate path $REMOTE_SCRIPT_PATH&quot;
    mkdir -p $REMOTE_SCRIPT_PATH
fi
cd $REMOTE_SCRIPT_PATH
pwd
EOF

# scp file to target host
sshpass -p &quot;$server_passwd&quot; scp &quot;$LOCAL_SCRIPT_PATH/ttyd_x86_64.sh&quot; &quot;$LOCAL_SCRIPT_PATH/web_terminal.sh&quot; &quot;$LOCAL_SCRIPT_PATH/utils.py&quot; &quot;$server_hostname@$server_ip_address:$REMOTE_SCRIPT_PATH&quot; &gt; /dev/null 2&gt;&amp;1

# connect &amp; start/stop ttyd
sshpass -p &quot;$server_passwd&quot; ssh -o StrictHostKeyChecking=no &quot;$server_hostname@$server_ip_address&quot; &lt;&lt; EOF
cd $REMOTE_SCRIPT_PATH
pwd

# export token
export DEVOPS_TOKEN=$devops_token
readonly DEVOPS_TOKEN

./web_terminal.sh &quot;$code_dir&quot; &quot;$stop_terminal&quot; &quot;$REMOTE_SCRIPT_PATH/ttyd_x86_64.sh&quot; &quot;$id&quot; &quot;$server_ip_address&quot;

echo &quot;exit web_terminal.sh&quot;

if [[ &quot;$stop_terminal&quot; != &quot;true&quot; ]]; then
	echo &quot;stop myself: $BUILD_URL&quot;stop
	curl -X POST &quot;$BUILD_URL&quot;stop --user $jenkins_user_name:$jenkins_user_token
fi
EOF

echo &quot;exit ssh&quot;
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>