<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>创建OTA</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.20">
      <gitLabConnection></gitLabConnection>
      <jobCredentialId></jobCredentialId>
      <useAlternativeCredential>false</useAlternativeCredential>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.gitee.jenkins.connection.GiteeConnectionProperty plugin="gitee@1.2.5">
      <giteeConnection>Gitee</giteeConnection>
    </com.gitee.jenkins.connection.GiteeConnectionProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>before_target_file</name>
          <description>起始包target路径</description>
          <defaultValue>ftp://192.168.0.131/hongxiangyuan/202011/V13_GY/verified/V13-GY-G1930DPQV1HB-ZY-1128-V0101/V13-GY-G1930DPQV1HB-ZY-1128-V0101_signed_verified_target_files.zip</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>before_ftp_username</name>
          <description>起始包登录用户名</description>
          <defaultValue>ftp_user</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>before_ftp_passwd</name>
          <description>起始包登录密码</description>
          <defaultValue>{AQAAABAAAAAQYx928/QXyWSFoBsDKm0XAOUwe066dycYSVXwtQf9XiY=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>after_target_file</name>
          <description>目标包target路径</description>
          <defaultValue>ftp://upload.droi.com/202105/G1930EPQ_V13_GY/verified/V13-GY-G1930DPQV1HB-ZY-0507-V0102/V13-GY-G1930DPQV1HB-ZY-0507-V0102_signed_verified_target_files.zip</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>after_ftp_username</name>
          <description>目标包登录用户名</description>
          <defaultValue>hongxiangyuan</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>after_ftp_passwd</name>
          <description>目标包登录密码</description>
          <defaultValue>{AQAAABAAAAAQBOaby77ckTan9aXH9oSFZQmZ2Sm7NSjQVLc7ZdNmTmo=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sv_platform_terrace</name>
          <description>签名平台</description>
          <defaultValue>MTK_mt6758n_hongxiangyuan</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ota_factory_host_ip</name>
          <description>do not edit</description>
          <defaultValue>192.168.151.217</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ota_factory_host_user</name>
          <description>do not edit</description>
          <defaultValue>server</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>ota_factory_host_pwd</name>
          <description>do not edit</description>
          <defaultValue>{AQAAABAAAAAQS/A91WMPTTIVlzGUXB/Hbs3GPemCKaVeYCxin/00VZ8=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ota_factory_host_path</name>
          <description>do not edit</description>
          <defaultValue>/home/server/ota</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>id</name>
          <description>devops task id</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/env bash

set +e

devops_token=`cat $DEVOPS_TOKEN_FILE || echo &quot;&quot;`

# copy script to host
sshpass -p &quot;$ota_factory_host_pwd&quot; scp -r $LOCAL_SCRIPT_PATH/otadiff.py $LOCAL_SCRIPT_PATH/utils.py \
	&quot;$ota_factory_host_user@$ota_factory_host_ip&quot;:$ota_factory_host_path

# ssh connect
sshpass -p &quot;$ota_factory_host_pwd&quot; ssh -o StrictHostKeyChecking=no &quot;$ota_factory_host_user@$ota_factory_host_ip&quot; &lt;&lt; EOF

echo &quot;devops_token: $devops_token&quot;
export DEVOPS_TOKEN=$devops_token
readonly DEVOPS_TOKEN

cd $ota_factory_host_path

pwd

python3 otadiff.py --bfile=&quot;$before_target_file&quot; --buser=&quot;$before_ftp_username&quot; --bpasswd=&quot;$before_ftp_passwd&quot; \
	--afile=&quot;$after_target_file&quot; --auser=&quot;$after_ftp_username&quot; --apasswd=&quot;$after_ftp_passwd&quot; \
    --terrace=&quot;$sv_platform_terrace&quot; --id=&quot;$id&quot;

EOF

rst=$?

echo &quot;rst: $rst&quot;

if [[ $rst != 0 ]]; then
	curl -H X-Access-Token:&quot;$devops_token&quot; -X GET \
    	http://192.168.48.2:8082/jeecg-boot/ota/devopsDiffOta/setJenkinsOtaStatus?id\=$id\&amp;status\=3\&amp;otaDir\=
fi
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>